@{
    ViewBag.Title = "About Us";
    Layout = "_Layout.cshtml";
}
<!--
  Examples to introduce charting using chart.js
  Author: Manish Agrawal
  Many examples use or are inspired by
  http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css\site.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    @*<script>
        function getUserInput() {

            var city1 = prompt("What is the first of 4 cities?", "Tampa");
            var city2 = prompt("What is the second of 4 cities?", "Tampa");
            var city3 = prompt("What is the third of 4 cities?", "Tampa");
            var city4 = prompt("What is the fourth of 4 cities?", "Tampa");

            var cities = [city1, city2, city3, city4];

            var ulElement = document.createElement("ul");

            for (var city in cities) {

                var cityListItem = document.createElement("li");
                var cityListItemtext = document.createTextNode(cities[city]);
                cityListItem.appendChild(cityListItemtext);

                var listItem = ulElement.appendChild(cityListItem);
            }

            var bodyNode = document.getElementsByTagName("body")[0];
            bodyNode.appendChild(ulElement);
        }
    </script>*@
</head>

<body>
    <!-- Header -->
    <header class="g7-chartbanner w3-container w3-center" style="padding:60px 16px">
        <h1 class="w3-margin w3-jumbo" style="color: blanchedalmond">Our Team</h1>
        <p class="w3-text-white">
            We are a group of MBAIS students at the University of South Florida. We have built this site to provide
            beer consumers, from novice all the way  to craft beer afficionado, a location to find information about
            craft beer and breweries in and around Tampa Bay.
        </p>
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Austin Johnson</h1>
                <h5 class="w3-padding-32">
                    Progressive - St. Petersburg, Florida
                </h5>

                <p class="w3-text-grey">
                    Austin Johnson is a Business Systems Consultant at Progressive Insurance in St. Petersburg, Florida.
                    Since joining the company in 2016, he has served in a variety of capacities including financial database
                    and ETL development, business analysis, and project management. Recently, he has led company-wide
                    system implementation projects supporting knowledge and learning management, as well as financial system
                    integration projects. Prior to his work at Progressive, Austin served as a software Build Coordinator for
                    International Paper in Memphis, Tennessee.
                    In 2015, he earned a B.S. in Management Information Systems from the University of Alabama, completing
                    capstone projects for the Tuscaloosa Police Department and PwC. He is currently working towards an M.S. in
                    Business Analytics and Information Systems at the University of South Florida.
                </p>
            </div>

            <div class="w3-third w3-center">
                <img src="/img/austin.jfif">
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Shawn McGinty</h1>
                <h5 class="w3-padding-32">
                    Advocate Health - Pittsburgh, Pennsylvania
                </h5>

                <p class="w3-text-grey">
                    Shawn McGinty is the Advocate Health Advisors Operations Director and Agency Development Manager,
                    and a member of the Executive Leadership Team, reporting directly to the CEO. Shawn joined Advocate in 2016.
                    Shawn has been employed in the Medicare Insurance space since 2005. Shawn has held senior leadership roles,
                    and also led Business Development, Operations, Sales, and National Account Management intiatives and teams.
                    Prior to joining Advocate, Shawn was employed with both Coventry Healthcare (2005-2013) and UnitedHealthGroup (2013-2016).
                    Shawn is a U.S. Navy Veteran, serving for six years in the U.S. Submarine Service. Shawn graduated from the University
                    of Pittsburgh in 1998 with a Bachelor’s Degree in Finance. He is currently pursuing a Master of Science Degree in
                    Business Analytics & Information Systems from the University of South Florida. He currently resides in Pittsburgh,
                    PA with his wife Lisa, and their two sons Nicholas (6) and Aidan (4).
                </p>
            </div>

            <div class="w3-third w3-center">
                <img src="/img/shawn.jfif">
            </div>
        </div>
    </div>
    <!-- Third Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Raquel Pavlik</h1>
                <h5 class="w3-padding-32">
                    PwC - Tampa, Florida
                </h5>

                <p class="w3-text-grey">
                    Raquel Pavlik is a Reporting Manager at PwC, consultant through Clearly Agile in the Learning & Development Measurements
                    and Analytics department providing tracking and reporting of learner compliance of mandated and sanctionable
                    curricula/learning across the global firm. She manages an offshore team in India with the primary focus of providing
                    actionable insights into the data and deliver recommendations on process improvements. The focus is on the current state
                    analysis of reporting data with the goal of using analytics and data science to predict employee completion outcomes.
                    Before joining PwC, she worked as an Operations Manager at a payroll company, Merchandising Manager at Ironman and Sr. Business Analyst
                    at both PharMerica and Eckerd (now CVS). She holds a BA in Marketing along with an MBA, both from USF. Her goal is to lead a
                    data science team in the development of predictive models and analytics within a professional learning environment.
                </p>
            </div>

            <div class="w3-third w3-center">
                <img src="/img/raquel.jpg">
            </div>
        </div>
    </div>
</body>
</html>