@{
    ViewData["Title"] = "Breweries";
    Layout = "_Layout.cshtml";
}

<!--
  Examples to introduce charting using chart.js
  Author: Manish Agrawal
  Many examples use or are inspired by
  http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/
-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css\site.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <link rel="stylesheet" href="css\site.css">
</head>

<body>
    <!-- Header -->
    <header class="g7-breweriesbanner w3-container w3-center" style="padding:60px 16px">
        <h1 class="w3-margin w3-jumbo" style="color: white">Popular Bay Area Breweries</h1>
    </header>

    <!-- Brewery Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Tampa Bay's Favorite Breweries</h1>
                <h5 class="w3-padding-32">
                    You asked! We Listened.  See how your favorite Tampa Bay brewery stacks up. 
                </h5>
                <canvas id="barchartexample" width="300" height="150"></canvas>
                <script>
                    new Chart(document.getElementById("barchartexample"), {
                        type: 'bar',
                        data: {
                            labels: ["3 Daughters", "Angry Chair", "Cigar City",
                                "Coppertail", "Cycle", "Dunedin",
                                "Green Bench", "Motorworks", "Rapp",
                                "TBBC"],
                            datasets: [
                                {
                                    label: "Brewery Votes",
                                    backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f",
                                        "#3e95cd", "#8e5ea2", "#3cba9f",
                                        "#3e95cd", "#8e5ea2", "#3cba9f", "#3e95cd"],
                                    data: [5478, 5267, 5658,
                                        5465, 5985, 5258,
                                        5745, 5569, 5625, 5536]
                                }
                            ]
                        },
                        options: {
                            legend: { display: false },
                            title: {
                                display: true,
                                text: 'Local Brewery Ratings'
                            }
                        }
                    });
                </script>
            </div>

        </div>
    </div>





    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="g7-row">
                <div class="g7-column">
                    <table>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://3dbrewing.com/">
                                    <img src="/img/3_daughters_logo2.png" />
                                </a>
                                <h2>3 Daughters Brewing</h2>
                                <p>Bold and innovative beer in a large brewery - complete with a family-friendly tasting and game room!</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://www.cigarcitybrewing.com/">
                                    <img src="/img/cigar_city.png" />
                                </a>
                                <h2>Cigar City Brewing</h2>
                                <p>Frequently rated as a top brewery in the world by RateBeer and BeerAdvocate.</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://cyclebrewing.com/">
                                    <img src="/img/cycle.png" />
                                </a>
                                <h2>Cycle Brewery</h2>
                                <p>Born out of Peg's Cantina, now in a downtown St Pete location brewing award winning beers.</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://www.greenbenchbrewing.com/">
                                    <img src="/img/green_bench.jpg" />
                                </a>
                                <h2>Green Bench Brewing Company</h2>
                                <p>Green Bench is St. Petersburg's first production microbrewery with an on-site tasting room and beer garden.</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://www.rappbrewing.com/">
                                    <img src="/img/rapp_brewing.jpg" />
                                </a>
                                <h2>Rapp Brewing Company</h2>
                                <p>Rapp specializes in small batch, hand crafted, artisanal Ales and Lagers.</p>
                                <br />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="g7-column">
                    <table>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://angrychairbrewing.com/">
                                    <img src="/img/angry_chair_logo.png" />
                                </a>
                                <h2>Angry Chair Brewing Company</h2>
                                <p>Angry Chair Brewing is a Craft Brewery & Tasting Room located in Seminole Heights and featuring artisanal ales.</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://coppertailbrewing.com/">
                                    <img src="/img/coppertail.png" />
                                </a>
                                <h2>Coppertail Brewing Company</h2>
                                <p>Coppertail crafts flavorful beer for the Florida lifestyle.</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://dunedinbrewery.com/">
                                    <img src="/img/DunedinBrewery_FullColor_Vector.png" />
                                </a>
                                <h2>Dunedin Brewery</h2>
                                <p>Florida's oldest microbrewery.</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://motorworksbrewing.com/">
                                    <img src="/img/motorworks.jpg" />
                                </a>
                                <h2>Motorworks Brewing</h2>
                                <p>A full-production American Craft Brewery with taproom, and the largest beer garden in Florida (corn hole, putting green, and more!)</p>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:150px; text-align: center; vertical-align: central">
                                <a href="https://www.tbbc.beer/">
                                    <img src="/img/TBBC-Logo-2019.png" />
                                </a>
                                <h2>Tampa Bay Brewing Company</h2>
                                <p>Tampa Bay Brewing Company has a line of 8 core and 38 seasonal proprietary beers. To complement our beer, we also have a unique menu that goes well beyond your typical pub fare.</p>
                                <br />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>